ul{
    height: 100%;
}
ul li{
    list-style: none;
}
.link{
    width: 100%;
    color: black;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Aladin', cursive;
    text-justify: center;
}

.content-login{
    margin: 30px 100px 20px 100px;
    display: flex;
    justify-content: space-around;
}

.title{
    width: 45%;
    padding: 0px 5%;
    height: 566px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.title h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form{
    width: 45%;
    padding: 0px 5%;
    height: 566px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    align-items: center;
    border-radius: 20px;
}
.form h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form form{
    display: flex;
    flex-direction: column;
}

.form form input {
    height: 48px;
    width: 365px;
    border:2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Email{
    padding-left: 10px;
}
.Password{
    padding-left: 10px;
}
.Login{
    font-size: 20px;
    font-weight: 700;
    background-color: #1E88E5;
    color: white;
}
.forgot-password{
    text-align: center;
    line-height: 20px;
    
}
.Create-account{
    text-decoration: none;
    height: 48px;
    width: 365px;
    margin-top: 20px;
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #8AC077;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon-login{
    margin-top: 30px;
    height: 48px;
    width: 365px;
    display: flex;
    justify-content: space-around;
}

