@{
    ViewData["Title"] = "Home Page";
}

<div class="header  ">
        <div class="header-info ">
                <div class="header-info-content">
                    <h3 class="info-title">Binance's 5th Anniversary</h3>
                    <p class="info-content">OpenSea is the world's first and <br />
                    larest NFT marketplace</p>
                    <div class="info-more">
                        <div class="btn-learnmore">
                            <a class="link" href="#">Learn more</a>
                        </div>
                        <div class="more-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                              </svg>
                        </div>
                    </div>
                </div>
        </div>
        <div class="header-panel ">
                <div class="image-1"></div>
                <div class="image-2"></div>
                <div class="image-3"></div>
        </div>
    </div>
@*content*@
  <div class="content container">

             
      @*<partial name="_CardItemPatial" />*@
        <div class="art container col-11">
            <div class="art-title">
                <h2>Art title</h2>
            </div>

            <div class="art-center">
                    <ul class="art-types">
                        <li><a href="#" class="link">one</a></li>
                        <li><a href="#" class="link">two</a></li>
                        <li><a href="#" class="link">three</a></li>
                    </ul>     
                <div class="art-more">
                    <div class="more">
                        <a href="#" class="link">more</a>
                    </div>

                    <div class="more-icon">
                        <a href="#" class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg>
                        </a>

                        <a href="#" class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </a>
                    </div>
                </div>
            </div>
             <div class="art-cards container">
            <partial name="_CardItemPatial" />
            <partial name="_CardItemPatial" />
            <partial name="_CardItemPatial" />
            <partial name="_CardItemPatial" />

            </div>
            </div>
    @*  *@
         @*<partial name="_CardItemPatial" />*@
        <div class="art container col-11">
            <div class="art-title">
                <h2>Art title</h2>
            </div>

            <div class="art-center">
                    <ul class="art-types">
                        <li><a href="#" class="link">one</a></li>
                        <li><a href="#" class="link">two</a></li>
                        <li><a href="#" class="link">three</a></li>
                    </ul>     
                <div class="art-more">
                    <div class="more">
                        <a href="#" class="link">more</a>
                    </div>

                    <div class="more-icon">
                        <a href="#" class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg>
                        </a>

                        <a href="#" class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </a>
                    </div>
                </div>
            </div>
             <div class="art-cards container">
            <partial name="_CardItemPatial" />
            <partial name="_CardItemPatial" />
            <partial name="_CardItemPatial" />
            <partial name="_CardItemPatial" />

            </div>
            </div>
    </div>